//menu meal appear on restaurant page
@keyframes block-fade-in {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// change heart icon color
@keyframes fill-color {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0.95);
        opacity: 1;
    }
}

// check mark animation
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

// animation for preloader
@keyframes grow {
    50% {
        transform: scale(1);
    }
}

// preloader ending
@keyframes opacity {
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none; //allow mouse event under the element
    }
}
