@use "./variables";

//shadow under ohmyfood title homepage
@mixin bottom-shadow {
    box-shadow: 0 0px 10px 0 rgb(0 0 0 / 40%);
}

@mixin text-gray {
    color: darken(variables.$clr-four, 50%);
}

//gradient colored main action button with shadow
@mixin btn-prim(
    // $width: 20rem,
    $clr-grad-start: variables.$clr-prim,
    $clr-grad-end: variables.$clr-second
) {
    font-size: 16px;
    // padding: 0.9rem 1.5rem;
    // width: $width;
    // line-height: 5rem;
    border-radius: 3em;
    padding: 1em 2em;
    border: none;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, $clr-grad-start, $clr-grad-end);
    box-shadow: variables.$shadow;
    cursor: pointer;
    position: relative;
    z-index: 1;
    //animation on opacity lighten gradient background & accent shadow
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 3rem;
        background-image: linear-gradient(to right bottom, lighten($clr-grad-start, 5%), lighten($clr-grad-end, 5%));
        opacity: 0;
        z-index: -1;
        box-shadow: variables.$shadow-accent;
        transition: opacity 250ms ease-in-out;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

// colored disk background for the navigation numbers
@mixin clr-circle {
    color: white;
    background-color: variables.$clr-prim;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    position: absolute;
}

//button with grey background
// @mixin btn-second($width: 24rem, $clr: variables.$clr-four) {
@mixin btn-second($clr: variables.$clr-four) {
    // width: $width;
    font-size: 16px;
    background-color: $clr;
    border-radius: 3em;
    margin-bottom: 1em;
    box-shadow: variables.$shadow;
    // position: relative;
    // line-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2em;
}

@mixin btn-second_over($clr: variables.$clr-prim) {
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 3em;
        // background-color: variables.$clr-prim;
        background-color: $clr;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }
    &:hover::before {
        opacity: 0.3;
    }
    &:hover span > i {
        color: variables.$clr-prim;
    }
}

// on homepage card background
@mixin card-background {
    font-size: 16px;
    border-radius: 1rem;
    background-color: white;
    height: 18em;
    box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 1em;
}

//card label status "nouveau"
@mixin card-status {
    font-size: 16px;
    background-color: variables.$clr-third;
    padding: 0.5em;
    border-radius: 0.2em;
    color: darken(variables.$clr-third, 40%);
}

//media queries
@mixin fold-only {
    @media screen and (min-width: map-get(variables.$breakpoints, fold)) and (max-width: map-get(variables.$breakpoints, iphone)) {
        @content;
    }
}

@mixin iphone-only {
    @media screen and (min-width: map-get(variables.$breakpoints, iphone)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get(variables.$breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get(variables.$breakpoints, desktop)) {
        @content;
    }
}

//positionning logo
@mixin pos-logo {
    text-align: left;
    padding-left: 3rem;
}
