$clr-prim: #9356dc;
$clr-second: #ff79da;
$clr-third: #99e2d0;
$clr-four: rgb(234, 234, 234);


$shadow: 2px 2px 5px -3px rgb(0 0 0 / 50%);

$shadow-accent: 3px 3px 7px -3px rgb(0 0 0 / 50%);

$breakpoints: (
  fold: 280px,
  iphone: 375px,
  tablet: 599px,
  desktop: 1199px,
);

$ft-prim: 1.6rem;

$spacer-s: 16px;

$spacer-l: 50px;
