@use "../abstracts";


.header__logo {
  @include abstracts.bottom-shadow;
  @include abstracts.tablet-only {
    text-align: left;
    padding-left: 3rem;
  }
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  text-align: center;
}