@use "../utils/variables";

.header-logo {
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    text-align: center;
    box-shadow: 0 0px 10px 0 rgb(0 0 0 / 40%);
  }

  footer {
    padding-bottom: 2rem;
    background-color: darken(variables.$clr-four, 70%);
    & .footer-logo {
      filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(328deg) brightness(105%)
        contrast(105%);
      padding: 1.5rem 1rem;
    }
    & .footer-nav {
      & a {
        color: white;
        padding: 0.5rem 0 0.2rem 1rem;
      }
    }
  }