@use "../abstracts";

//menu background overflow the image
.restaurant {
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: abstracts.$clr-four;
    margin-top: -2rem;
    z-index: 10;
    position: relative;
}

//colored background for meal category
.menu {
    padding-top: 2rem;
    @include abstracts.tablet-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 2rem;
        }
    }
    &__meal {
        display: flex;
        justify-content: space-between;
        @include abstracts.btn-second(white);
        @include abstracts.tablet-only {
            width: 60vw;
        }
        @include abstracts.desktop-only {
            width: 30vw;
        }
        &__description {
            p {
                color: darken(abstracts.$clr-four, 50%);
                font-size: 1rem;
                font-size: 0.8rem;
                padding-top: 0.2rem;
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

.menu__main {
    @include abstracts.desktop-only {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
}
