@use "../abstracts";

//menu background overflow the image
.restaurant {
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: abstracts.$clr-four;
    margin-top: -2rem;
    z-index: 10;
    position: relative;
}

//colored background for meal category
.menu {
    padding-top: 2rem;
    @include abstracts.tablet-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 2rem;
        }
    }
    &__meal {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        @include abstracts.btn-second(white);
        &::before {
            content:'';
            width: 100px;
            border-radius: 0 1rem 1rem 0;
            background-color: abstracts.$clr-third;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transform: scale(0, 1);
            transform-origin: right;
            opacity: 0;
            transition: all 500ms;
          }
        &:hover::before {
            transform: scale(1);
            opacity: 1;
          }
        
        @include abstracts.tablet-only {
            width: 60vw;
        }
        @include abstracts.desktop-only {
            width: 30vw;
        }
        &__description {
            p {
                color: darken(abstracts.$clr-four, 50%);
                font-size: 1rem;
                font-size: 0.8rem;
                padding-top: 0.2rem;
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}



.menu__main {
    
    @for $i from 1 to 4 {
        section:nth-child(#{$i}) { 
            opacity: 0;
            animation: block-fade-in 3s cubic-bezier(.31,.45,.2,1.01);
            animation-delay: $i * 1s;
            animation-fill-mode: forwards;
        }
    }
    @include abstracts.desktop-only {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
}
