html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  padding: 1rem;
  font-weight: 700;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: black;
}

@keyframes block-fade-in {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse-beat {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}
.locate {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #eaeaea, rgba(0, 0, 0, 0));
}
.locate__btn {
  padding: 1rem;
  text-align: center;
}
.locate__input {
  border: none;
  background: rgba(0, 0, 0, 0);
  padding-left: 1rem;
  line-height: 2rem;
}
.locate ::placeholder {
  color: black;
  font-size: 1.1rem;
}

.fa-heart {
  cursor: pointer;
  width: 1.6rem;
  height: auto;
}

svg.svg-inline--fa.fa-heart.fa-w-16 {
  width: 1.3rem;
}
svg.svg-inline--fa.fa-heart.fa-w-16:hover {
  animation: pulse-beat 2s 0 0 3;
}

.header {
  position: relative;
}
.header__arrow {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.commandez {
  text-align: center;
  padding: 2rem;
}
.commandez__btn {
  padding: 0.9rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 60vw;
  font-size: 1rem;
}
.commandez__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right bottom, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in-out;
}
.commandez__btn:hover::after {
  opacity: 1;
}
@media screen and (min-width: 1199px) {
  .commandez__btn {
    width: 30vw;
  }
}

.restaurant__picture img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1199px) {
  .restaurant__picture {
    height: 81vh;
  }
}

.header__logo {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  text-align: center;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 599px) {
  .header__logo {
    text-align: left;
    padding-left: 3rem;
  }
}

.footer {
  padding-bottom: 2rem;
  background-color: #383838;
}
.footer__logo {
  padding: 1.5rem 1.3rem;
}
.footer__logo h3 {
  font-family: "Shrikhand", sans-serif;
  color: white;
}
.footer__nav a {
  color: white;
  padding: 0.5rem 0 0.2rem 1.3rem;
}
.footer__nav li:nth-of-type(1) span {
  padding-left: 0.7rem;
}
.footer__nav li:nth-of-type(2) span {
  padding-left: 0.3rem;
}

@media screen and (min-width: 599px) {
  .navigation__btns {
    display: flex;
    flex-wrap: wrap;
  }
}
.navigation__btns__btn {
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.navigation__btns__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.navigation__btns__btn:hover::after {
  opacity: 1;
}
.navigation__btns__btn span:nth-child(1) {
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin: auto 0;
  border-radius: 50%;
  position: absolute;
  left: -0.7rem;
}
.navigation__btns__btn span:nth-of-type(2) {
  color: #9e9e9e;
  font-size: larger;
}
@media screen and (min-width: 599px) {
  .navigation__btns__btn {
    width: 29vw;
  }
}
@media screen and (min-width: 1199px) {
  .navigation__btns__btn {
    width: 30vw;
  }
}

.restaurant__title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu__title {
  text-transform: uppercase;
  color: #6b6b6b;
  font-weight: 300;
  letter-spacing: -0.5px;
  font-size: 1.1rem;
  padding-left: 1rem;
  position: relative;
}
.menu__title::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 2.4rem;
  background-color: #99E2D0;
  position: absolute;
  bottom: -2px;
}

.restaurant {
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #eaeaea;
  margin-top: -2rem;
  z-index: 10;
  position: relative;
}

.menu {
  padding-top: 2rem;
}
@media screen and (min-width: 599px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__title {
    font-size: 2rem;
  }
}
.menu__meal {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
.menu__meal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.menu__meal:hover::after {
  opacity: 1;
}
@media screen and (min-width: 599px) {
  .menu__meal {
    width: 60vw;
  }
}
@media screen and (min-width: 1199px) {
  .menu__meal {
    width: 30vw;
  }
}
.menu__meal__description p {
  color: #6b6b6b;
  font-size: 1rem;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}
.menu__meal span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu__main section:nth-child(1) {
  animation: block-fade-in 300ms cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}
.menu__main section:nth-child(2) {
  animation: block-fade-in 300ms cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}
.menu__main section:nth-child(3) {
  animation: block-fade-in 300ms cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 1199px) {
  .menu__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.explorez {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  text-align: center;
  padding: 1rem 1rem 4rem 1rem;
}
.explorez__subtitle {
  color: #6b6b6b;
  padding: 0.2rem 0 2rem 0;
  font-size: large;
  display: inline-block;
}
.explorez__btn {
  padding: 0.9rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 60vw;
}
.explorez__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right bottom, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in-out;
}
.explorez__btn:hover::after {
  opacity: 1;
}
@media screen and (min-width: 599px) {
  .explorez__btn {
    width: 30vw;
  }
}

.restaurants {
  background-color: #eaeaea;
  padding: 1rem;
}
@media screen and (min-width: 599px) {
  .restaurants__main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
}

.restaurant__card {
  border-radius: 1rem;
  background-color: white;
  width: 21rem;
  height: 35vh;
  margin: 1rem auto;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media screen and (min-width: 1199px) {
  .restaurant__card {
    width: 35rem;
    height: 65vh;
  }
}
.restaurant__card[data-status=new] > .restaurant__card__status {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  color: #278870;
}
.restaurant__card[data-status=old] > .restaurant__card__status {
  display: none;
}
.restaurant__card__img {
  background-size: cover;
  width: 100%;
  height: 72%;
  border-radius: 1rem 1rem 0 0;
  background-position: center;
}
.restaurant__card[data-restaurant="1"] .restaurant__card__img {
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurant__card[data-restaurant="2"] .restaurant__card__img {
  background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurant__card[data-restaurant="3"] .restaurant__card__img {
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.restaurant__card[data-restaurant="4"] .restaurant__card__img {
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurant__card__info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.restaurant__card__info span {
  display: inline-block;
  padding: 0.5rem 0;
  color: #6b6b6b;
}
.restaurant__card__info__favorite {
  padding: 0.6rem;
}
.restaurant__card__info__favorite svg.svg-inline--fa.fa-heart.fa-w-16 {
  width: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
