@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

h1, h3 {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  padding: 1rem;
  font-weight: 600;
  font-size: 2.8rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: black;
}

@keyframes block-fade-in {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
@keyframes opacity {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.locate {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #eaeaea, rgba(0, 0, 0, 0));
}
.locate__btn {
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
}
.locate__input {
  border: none;
  background: rgba(0, 0, 0, 0);
  padding-left: 1rem;
  line-height: 2rem;
}
.locate ::placeholder {
  color: black;
  font-size: 1.6rem;
}

.commandez {
  text-align: center;
  padding: 2rem;
}
.commandez__btn {
  line-height: 4.3rem;
  border-radius: 3rem;
  border: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 60vw;
  font-size: 1rem;
}
.commandez__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right bottom, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in-out;
}
.commandez__btn:hover::after {
  opacity: 1;
}
@media screen and (min-width: 1199px) {
  .commandez__btn {
    width: 30vw;
  }
}

.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
  cursor: pointer;
}

.icon__heart::before,
.icon__heart::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.4em;
  color: black;
}

.icon__heart::before {
  z-index: 10;
}

.login::after {
  z-index: 1;
}

.icon__heart:hover::after {
  animation: pulse 900ms infinite;
}

input:checked + label > div.icon__heart::before,
input:checked + label > div.icon__heart::after {
  color: #9356DC;
  font-weight: 900;
}

.icon__check::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4em;
  color: black;
}

.restaurant__title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu__title {
  text-transform: uppercase;
  color: #6b6b6b;
  font-weight: 300;
  letter-spacing: -0.5px;
  font-size: 1.1rem;
  padding-left: 1rem;
  position: relative;
}
.menu__title::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 2.4rem;
  background-color: #99E2D0;
  position: absolute;
  bottom: -2px;
}

.footer {
  padding-bottom: 2rem;
  background-color: #383838;
}
.footer__logo {
  padding: 1.5rem 1.3rem;
}
.footer__logo h3 {
  font-family: "Shrikhand", sans-serif;
  color: white;
}
.footer__nav a {
  color: white;
  padding: 0.5rem 0 0.2rem 1.3rem;
}
.footer__nav li:nth-of-type(1) span {
  padding-left: 0.7rem;
}
.footer__nav li:nth-of-type(2) span {
  padding-left: 0.3rem;
}

/* ///////////////////// homepage layout ///////////////// */
.header__logo {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 599px) {
  .header__logo {
    text-align: left;
    padding-left: 3rem;
  }
}

.explorez {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  text-align: center;
  padding: 3rem 1rem 4rem 1rem;
}
.explorez__subtitle {
  color: #6b6b6b;
  padding: 0.2rem 0 2rem 0;
  font-size: large;
}
.explorez__btn {
  line-height: 4.3rem;
  border-radius: 3rem;
  border: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 196px;
}
.explorez__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right bottom, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in-out;
}
.explorez__btn:hover::after {
  opacity: 1;
}

@media screen and (min-width: 599px) {
  .navigation__btns {
    display: flex;
    flex-wrap: wrap;
  }
}
.navigation__btns__btn {
  background-color: #eaeaea;
  border-radius: 20px;
  margin: 1rem;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  width: 300px;
  line-height: 50px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation__btns__btn:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 599px) {
  .navigation__btns__btn {
    width: 29vw;
  }
}
@media screen and (min-width: 1199px) {
  .navigation__btns__btn {
    width: 30vw;
  }
}
.navigation__btns__btn span:nth-child(1) {
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin: auto 0;
  border-radius: 50%;
  position: absolute;
  left: -0.7rem;
}
.navigation__btns__btn span:nth-of-type(2) {
  color: #9e9e9e;
  font-size: larger;
}

.restaurants {
  background-color: #eaeaea;
  padding: 1rem;
}
@media screen and (min-width: 599px) {
  .restaurants__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.restaurant__card {
  border-radius: 1rem;
  background-color: white;
  width: 21rem;
  height: 35vh;
  margin: 1rem auto;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media screen and (min-width: 1199px) {
  .restaurant__card {
    width: 35rem;
    height: 65vh;
  }
}
.restaurant__card[data-status=new] > .restaurant__card__status {
  background-color: #99E2D0;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  color: #278870;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.restaurant__card[data-status=old] > .restaurant__card__status {
  display: none;
}
.restaurant__card__img {
  background-size: cover;
  width: 100%;
  height: 72%;
  border-radius: 1rem 1rem 0 0;
  background-position: center;
}
.restaurant__card[data-restaurant="1"] .restaurant__card__img {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurant__card[data-restaurant="2"] .restaurant__card__img {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurant__card[data-restaurant="3"] .restaurant__card__img {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.restaurant__card[data-restaurant="4"] .restaurant__card__img {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurant__card__info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.restaurant__card__info span {
  display: inline-block;
  padding: 0.2rem 0;
  color: #6b6b6b;
}
.restaurant__card__info__favorite {
  width: 2rem;
  height: 100%;
}

.header__logo {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 599px) {
  .header__logo {
    text-align: left;
    padding-left: 3rem;
  }
}

.restaurant {
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #eaeaea;
  margin-top: -2rem;
  z-index: 10;
  position: relative;
}
.restaurant__picture img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1199px) {
  .restaurant__picture {
    height: 81vh;
  }
}

.menu {
  padding-top: 2rem;
}
@media screen and (min-width: 599px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__title {
    font-size: 2rem;
  }
}
.menu__meal {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.menu__meal:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 599px) {
  .menu__meal {
    width: 60vw;
  }
}
@media screen and (min-width: 1199px) {
  .menu__meal {
    width: 30vw;
  }
}
.menu__meal:hover .menu__meal__check {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.menu__meal:hover .menu__meal__check .icon__check {
  transform: rotate(0deg);
  transition: transform 600ms ease-in-out;
}
.menu__meal:hover .menu__meal__price {
  position: absolute;
  bottom: 10px;
  right: 140px;
  transition: right 300ms ease-in-out;
}
.menu__meal:hover .menu__meal__description {
  width: 150px;
}
@media screen and (min-width: 599px) {
  .menu__meal:hover .menu__meal__description {
    width: 250px;
  }
}
@media screen and (min-width: 1199px) {
  .menu__meal:hover .menu__meal__description {
    width: 190px;
  }
}
.menu__meal__description {
  padding: 10px;
  padding-left: 20px;
}
.menu__meal__description p {
  color: #6b6b6b;
  font-size: 1rem;
  font-size: 0.8rem;
}
.menu__meal__description * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__meal__price {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.menu__meal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 130px;
  transform: translateX(130px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
}
.menu__meal__check .icon__check {
  width: fit-content;
  transform: rotate(180deg);
  margin: 0 auto;
}
.menu__meal span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1199px) {
  .menu__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
.menu__main section:nth-child(1) {
  opacity: 0;
  animation: block-fade-in 3s cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.menu__main section:nth-child(2) {
  opacity: 0;
  animation: block-fade-in 3s cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.menu__main section:nth-child(3) {
  opacity: 0;
  animation: block-fade-in 3s cubic-bezier(0.31, 0.45, 0.2, 1.01);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9356DC;
  opacity: 1;
  animation: opacity 3s forwards;
}
.loader__container {
  transform-origin: center center;
  animation: rotate 2s linear infinite;
  margin-right: 5rem;
}
.loader__container__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-color: #9356DC;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
}
.loader__container__circle:nth-child(2) {
  background-color: #FF79DA;
  animation-delay: 0.6s;
}
.loader__container__circle:nth-child(3) {
  background-color: #fface8;
  animation-delay: 1s;
}

/*# sourceMappingURL=style.css.map */
