@use "../abstracts";

.locate {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        abstracts.$clr-four,
        rgba(0, 0, 0, 0)
    );
    &__btn {
        padding: 1rem;
        text-align: center;
    }
    &__input {
        border: none;
        background: rgba(0, 0, 0, 0);
        padding-left: 1rem;
        line-height: 2rem;
    }
    ::placeholder {
        color: black;
        font-size: 1.1rem;
    }
}

//heart icon to be fixed conflict with user agent style
.fa-heart {
    width: 1.6rem;
    height: auto;
}

svg.svg-inline--fa.fa-heart.fa-w-16 {
    width: 1.3rem;
}

//header back arrow button
.header {
    position: relative;
    &__arrow {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }
}

//commandez button on restaurant page
.commandez {
    text-align: center;
    padding: 2rem;
    &__btn {
        @include abstracts.btn-prim();
        width: 60vw;
        font-size: 1rem;
    }
}
