@use "../abstracts";
@use "../components";
@use "../layout";


.explorez {
    background-color: darken(abstracts.$clr-four, 1%);
    text-align: center;
    padding: 1rem 1rem 4rem 1rem;
    &__subtitle {
        color: darken(abstracts.$clr-four, 50%);
        padding: 0.2rem 0 2rem 0;
        font-size: large;
        display: inline-block;
    }
    &__btn {
        @include abstracts.btn-prim();
    }
}




.restaurants {
background-color: abstracts.$clr-four;
padding: 1rem;
}

.restaurant__card {
    @include abstracts.card-background;
    position: relative;
    &[data-status="new"] > .restaurant__card__status {
        position: absolute;
        top: 1rem;
        right: 1rem;
        @include abstracts.card-status;
    }
    &[data-status="old"] > .restaurant__card__status {
        display: none;
    }
    &__img {
        background-size: cover;
        width: 100%;
        height: 72%;
        border-radius: 1rem 1rem 0 0;
        background-position: center;
    }
    &[data-restaurant="1"] {
      .restaurant__card__img {
        background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      }
    }
    &[data-restaurant="2"] {
      .restaurant__card__img {
        background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      }
    }
    &[data-restaurant="3"] {
      .restaurant__card__img {
        background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      }
    }
    &[data-restaurant="4"] {
      .restaurant__card__img {
        background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        span {
          display: inline-block;
          padding: 0.5rem 0;
          color: darken(abstracts.$clr-four, 50%);
        }
        &__favorite {
          padding: 0.6rem;
        }
        .fa-heart {
          width: 1.6rem;
          height: auto;
        }
    }
}