@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/animations";
@use "../components/buttons";
@use "../layout/footer";

/* ///////////////////// homepage layout ///////////////// */

.header__logo__txt {
    @include mixins.tablet-only {
        @include mixins.pos-logo;
    }
    text-align: center;
    padding: variables.$spacer-s;
}

//choose city location button
.locate {
    background-color: variables.$clr-four;
    border-top: solid 2px darken($color: variables.$clr-four, $amount: 5%);
    &__btn {
        @include mixins.tablet-only {
            text-align: initial;
            padding-left: 2.6rem;
        }
        padding: variables.$spacer-s;
        text-align: center;
    }
    &__input {
        width: 120px; 
        border: none;
        padding-left: variables.$spacer-s;
        background: rgba(0, 0, 0, 0);
    }
    ::placeholder {
        color: darken($color: variables.$clr-four, $amount: 50%);
    }
}

//explorez section
.explorez {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten(variables.$clr-four, 6%);
    text-align: center;
    // padding: 1rem 0 4rem 0;
    padding-bottom: variables.$spacer-l;
    &__title {
        @include mixins.fold-only {
            // padding: 1rem 2rem;
            padding-top: variables.$spacer-l;
            width: 250px;
        }
        @include mixins.desktop-only {
            width: initial;
        }
        // padding: 1rem 7rem;
        // padding-bottom: 0rem;
    }
    &__subtitle {
        width: 280px;
        color: darken(variables.$clr-four, 50%);
        // padding: 1rem 1rem 3rem 1rem;
        padding-top: variables.$spacer-s;
        padding-bottom: variables.$spacer-l;
    }
    //explorez button
    &__btn {
        @include mixins.btn-prim();
    }
}

.navigation__title,
.restaurants__title {
    // padding: 2rem 0 1rem 2.3rem;
    padding-top: variables.$spacer-l;
    padding-bottom: variables.$spacer-s;
    padding-left: variables.$spacer-s;
}

// navigation section
.navigation {
    // padding: 3rem 0;
    &__btns {
        @include mixins.tablet-only {
            // display: flex;
            flex-wrap: wrap;
            flex-direction: initial;
            justify-content: space-around;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__btn {
            @include mixins.btn-second();
            @include mixins.btn-second-over();
            @include mixins.fold-only {
                font-size: 13px;
            }
            @include mixins.iphone-only {
                width: 320px;
            }
            @include mixins.tablet-only {
                width: 220px;
                padding: 1em 3em;
            }
            @include mixins.desktop-only {
                width: 390px;
            }
            position: relative;
            span:nth-child(1) {
                @include mixins.clr-circle;
                position: absolute;
                left: -0.5em;
            }
            span:nth-of-type(2) {
                color: darken(variables.$clr-four, 30%);
            }
            span:nth-of-type(3) {
            }
            span > i {
                @include mixins.fold-only {
                    width: 4rem;
                }
                @include mixins.tablet-only {
                    width: 3rem;
                    font-size: 1rem;
                }
                font-size: 20px;
            }
        }
    }
}

.restaurants {
    //restaurant background on homepage
    background-color: variables.$clr-four;
    &__main {
        @include mixins.tablet-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction: initial;
        }
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: variables.$spacer-l;
        
        &__customer {
            position: relative;
            &__favorite {
                position: absolute;
                right: 5px;
                bottom: 50px;
                height: 30px;
                width: 30px;
            }
        }
    }
}

.restaurant__card {
    // restaurant card background layout
    @include mixins.card-background;
    @include mixins.fold-only {
        // width: 26rem;
        width: 260px;
    }
    @include mixins.iphone-only {
        // width: 33rem;
        width: 330px;
    }
    @include mixins.desktop-only {
        // width: 60rem;
        // height: 60rem;
        width: 600px;
        height: 450px;
    }
    position: relative;
    // restaurant status nouveau display
    &[data-status="new"] > .restaurant__card__status {
        @include mixins.card-status;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &[data-status="old"] > .restaurant__card__status {
        display: none;
    }
    // image style layout
    &__img {
        @include mixins.desktop-only {
            height: 22em;
        }
        background-size: cover;
        width: 100%;
        height: 13em;
        border-radius: 1em 1em 0 0;
        background-position: center;
    }
    // background image loading url
    &[data-restaurant="1"] {
        .restaurant__card__img {
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
    }
    &[data-restaurant="2"] {
        .restaurant__card__img {
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        }
    }
    &[data-restaurant="3"] {
        .restaurant__card__img {
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        }
    }
    &[data-restaurant="4"] {
        .restaurant__card__img {
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        }
    }
    // restaurant name and details
    &__info {
        @include mixins.desktop-only {
            font-size: 25px;
        }
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 1em 0.7em;
        span {
            display: inline-block;
            padding: 0.2em 0;
            color: darken(variables.$clr-four, 50%);
        }
        &__favorite {
            width: 2em;
            height: 100%;
        }
    }
}
