@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../components/buttons";
@use "../layout/footer";

.header {
    display: flex;
    align-items: center;
    &__arrow {
        @include mixins.tablet-only {
            font-size: 2.8rem;
            width: 10rem;
        }
        font-size: 1.8rem;
        width: 3rem;
        text-align: center;
        flex-grow: 1;
    }
    &__logo {
        @include mixins.tablet-only {
            @include mixins.pos-logo;
        }
        flex-grow: 2;
        text-align: start;
        padding-left: 1rem;
        &__txt {
            @include mixins.tablet-only {
                font-size: 5rem;
            }
        }
    }
}

.restaurant {
    //menu background overflow the image
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: variables.$clr-four;
    margin-top: -2rem;
    position: relative;
    //landing picture
    &__picture {
        overflow: hidden;
        & img {
            @include mixins.desktop-only {
                transform: translate(0px, -146px);
            }
            object-fit: cover;
            height: auto;
            width: 100%;
        }
        @include mixins.desktop-only {
            height: 50rem;
        }
    }
    &__title {
        @include mixins.iphone-only {
            padding-top: 2.5rem;
        }
        display: flex;
        line-height: 5rem;
        &__txt {
            @include mixins.iphone-only {
                font-size: 2.5rem;
            }
            @include mixins.tablet-only {
                font-size: 3.5rem;
                padding-left: 5rem;
            }
            @include mixins.desktop-only {
                flex-grow: initial;
            }
            flex-grow: 2;
            padding-left: 2rem;
            font-family: "Shrikhand", sans-serif;
        }
        &__icon {
            @include mixins.iphone-only {
                font-size: 1.6rem;
            }
            @include mixins.desktop-only {
                padding-left: 3rem;
                flex-grow: initial;
            }
            flex-grow: 1;
            line-height: 3rem;
            width: 4rem;
            font-size: 1.3rem;
        }
    }
}

//colored background for meal category
.menu {
    @include mixins.tablet-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 2rem;
        }
    }
    padding-top: 2rem;
    &__title {
        @include mixins.text-gray;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: -0.5px;
        position: relative;
        font-family: initial;
        padding-left: 1.9rem;
        &::before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 2.4rem;
            background-color: variables.$clr-third;
            position: absolute;
            bottom: -2px;
        }
    }
    &__meal {
        @include mixins.btn-second(25rem, white);
        @include mixins.fold-only {
            line-height: 1.8rem;
        }
        @include mixins.iphone-only {
            line-height: 2.3rem;
            width: 34rem;
        }
        @include mixins.tablet-only {
            width: 50rem;
        }
        @include mixins.desktop-only {
            width: 40rem;
        }
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        margin: 1rem auto;
        &__description {
            padding: 10px;
            padding-left: 20px;
            p {
                color: darken(variables.$clr-four, 50%);
                font-size: 1.4rem;
            }
            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        &__check {
            @include mixins.fold-only {
                width: 70px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: variables.$clr-third;
            width: 130px;
            transform: translateX(130px);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transition: all 300ms ease-in-out;
            .icon__check {
                width: fit-content;
                transform: rotate(180deg);
                margin: 0 auto;
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover &__check {
            transform: translateX(0);
            transition: transform 300ms ease-in-out;
            .icon__check {
                transform: rotate(0deg);
                transition: transform 600ms ease-in-out;
            }
        }
        &:hover &__price {
            @include mixins.fold-only {
                right: 75px;
            }
            position: absolute;
            bottom: 10px;
            right: 140px;
            transition: right 300ms ease-in-out;
        }
        &:hover &__description {
            @include mixins.fold-only {
                width: 150px;
            }
            @include mixins.iphone-only {
                width: 230px;
            }
            width: 170px;
        }
    }
}

.menu__main {
    @include mixins.desktop-only {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    // fade in animation
    @for $i from 1 to 4 {
        section:nth-child(#{$i}) {
            opacity: 0;
            animation: block-fade-in 3s cubic-bezier(0.31, 0.45, 0.2, 1.01);
            animation-delay: $i * 1s;
            animation-fill-mode: forwards;
        }
    }
}

.commandez {
    text-align: center;
    padding: 2rem;
    &__btn {
        @include mixins.btn-prim();
        @include mixins.desktop-only {
            width: 30vw;
        }
    }
}
